<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">

                <ul class="footer-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/about">About</a></li>
                </ul>

            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <p style="color: white; margin-top: 17px;">Fork, follow and support us on our <a href="https://github.com/ox42/express-sequelize-starter">GitHub</a> page.</p>
                <p style="color: white; margin-top: 14px;">Copyright &copy; 2017 All Rights Reserved.</p>
            </div>
        </div>
    </div>
</div>