<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <div class="big-margin-on-desktop">
                <p style="font-size: 55px; text-align: center;">Starter project</p>
                <p style="font-size: 35px; text-align: center;"><a href="https://github.com/ox42/express-sequelize-starter">Available on GitHub</a></p>
            </div>

            <div class="big-margin-on-desktop">
                <p style="text-align: center; font-size: 25px;">
                    This is something we use at our company to quickly bootstrap new projects.<br />
                    It is tested in production by at least three apps as of now, powering several servers with thousands of daily users.
                </p>

                <p style="text-align: center; font-size: 25px; margin-top: 45px;">The starter project uses Node.js (v8+), Bluebird, Express, Passport.js, Sequelize, Moment, Gulp, Nightwatch (for running local tests), and other powerful and commonly used libraries.</p>
            </div>


        </div>
    </div>
</div>
