<div class="container">
    <div class="row">
        <div class="col-xs-12">

            <p style="margin-top: 150px; margin-bottom: 100px; font-size: 30px; text-align: center;">Welcome to the demo app.<br />
                This is the landing page.</p>


            <p style="margin-bottom: 130px; text-align: center; font-size: 40px;">
                <a href="https://github.com/ox42/express-sequelize-starter"><img style="width: 100px; height: auto;" src="/images/github.png"></a><br />
                <a href="https://github.com/ox42/express-sequelize-starter" style="color: #353535;">Available on Github</a>
            </p>

        </div>
    </div>
</div>